# Forbid everything except Git
*.*
!.git*

# Allow Markdown
!*.md
!*.png

# Allow FrontMatter
!*.frontmatter

# Allow PowerShell
!*.ps1
!*.psm1
!*.psd1
!*.pssc
!*.psrc
!*.psxml
!*.cdxml

# Allow generic plain text data formats
!*.xml
!*.json
!*.txt
!*.csv

# Allow Windows reg files
!*.reg

# Allow Office files
# !*.docx
# !*.dotx
# !*.xlsx
# !*.pptx
# !*.potx
# !*.ppsx
# !*.vsd
# !*.vsdx
# !*.vss
# !*.vssx
# !*.pdf

# Allow other stuff...